.main {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 10rem;
  color: black;
}
/* .parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 50%;
  height: 300px;
  border-radius: 5px;
  background-color: rgb(33, 32, 32);
  position: relative;
} */

.child-one {
  color: rgb(72, 241, 15);
  margin-top: 20px;
}
.child-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#username {
  height: 2rem;
  width: 15rem;
  background-color: rgb(55, 53, 53);
  color: white;
  border-radius: 5px;
}

#password {
  height: 2rem;
  width: 15rem;
  background-color: rgb(55, 53, 53);
  color: white;
  border-radius: 5px;
}

.child-three {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  width: 16rem;
  margin-top: -19px;
}
.child-four {
  margin-top: -15px;
}
#submit {
  height: 2rem;
  width: 15rem;
  background-color: rgb(69, 233, 23);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

a {
  text-decoration: none;
  margin-top: 15px;
  color: rgb(47, 242, 13);
  font-size: larger;
}

.cross {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: red;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 37rem;
  top: 9rem;
}
